.rowGrid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-column-gap: 20px;
  margin-bottom: 24px;

  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(2, 180px);

    > div:last-child {
      grid-column: span 2; /* Make the third item span two columns */
    }
  }
}

.ant-form {
  .rowGrid();

  .ant-row {
    width: 100%;
  }

  .ant-form-item {
    display: flex;
    align-items: start;
    height: 84px;
    margin-bottom: 0;
  }

  button {
    display: flex;
    margin-top: 30px;
  }

  @media only screen and (max-width: 640px) {
    .ant-form-item {
      height: unset;
    }

    button {
      float: right;
      margin-top: 12px;
    }
  }
}

.location-main {
  .rowGrid();

  > div:first-child {
    grid-column: span 2;
  }

  .weatherforecast {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.traffic-image {
  .rowGrid();

  > div {
    grid-column: span 2;
  }
}

.ant-spin {
  display: flex;
  height: 100%;
  align-items: end;
  padding-bottom: 8px;
}
